*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  body, html
  
  {
  width: 100%;
  height:100%;
  background-color:skyblue;
  border: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0%;
  padding: 0%;
  }
  .headerlogo
  {
    width: 200px;
    height: 120px;
    padding-left:-50px ;
    padding-top:10px ;
    padding-right:50px ;
  }
  
  
  
  .main-navigation
  {
      position: fixed;
      top: -16px;
      width: 100%;
      left:-1px;
  }
  
  .navigation-link
  {    
      list-style-type: none;
      background-color: #003472;
    
  }
  
  .left-menu>ul>li::before {
      content: "\2022";
      color: black; 
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  
  
  .navigation-link-items{
      display: inline-block;
  }
  
  .navigation-link-items1{
      display: flex;
      display: inline-block;
      flex-direction: column-reverse;
  }
  nav>ul>li>a
  {
      text-decoration: none;
      color: white;  
  }
  
  ul> li:hover
  {
    padding: 5px;
    background-color:skyblue;
    
    border-radius:5px ;
  }
  
  
  
  
  footer
  {   
      color:white;
      text-align: center;
      background-color:#003472;
      width: 100%;}
  .a
  {
  margin-left:250px;
  float: left;
  width:400px;
  padding:20px;
  }
  .b{
      padding:20px;
      margin-left:800px;
      width:500px;
  }
  .fa 
  {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
  }
  
  .fa:hover
  {
      opacity: 0.7;
  }
  .fa-facebook
  {
      background: #3B5998;
      color: white;
  }
  .fa-twitter 
  {
      background: #55ACEE;
      color: white;
  }
  
  
  article{
    width: 98%;
    margin: auto;
    border-width: 2px;
    border-style: solid;
  
  
  
  
  }
  
  .Subsitutiontime{
    width: 98%;
    margin: auto;
    /* border-width: 2px;
    border-style: solid;
    padding-left: 5px;   */
  
  
  }
  .subs{
  
    text-align:center;
  
  
  }
  
  #menu{
    float:right;
    width:200px;
    height:650px;
    border-bottom:none;
    border-left:solid 1px;
  
  }
  
  
  #menu img{
    display:block; widows: 100px;; height:auto;
  
  }
  
  td{
  border:solid 1px;
  }
  
  table {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  td {
    padding-bottom: 20px;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  
  @media only screen and (max-width: 500px) {
  header {
    height: 10%;
    font-size: 30px;
  }
  }
  
  
  
  
  