body {
    background-color: #fff;
}

@media screen and (max-width: 400px) {
    body {
        background-color: azure;
    }
    .clearfix {
        width: 400px;
    }
}

h2 {
    margin-top: 0px !important;
}

.headers {
    color: #3a28a4;
    font-style: italic;
    font-weight: 900;
    font-size: 38px;
    text-shadow: 2px 2px #496379;
}

.clearfix {
    border: 1px solid #4CAF50;
    padding: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /*width: 100%;*/
}

.img {
    height: 170px;
    width: 170px;
    margin-right: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.clearfix::after {
    content: "";
    clear: both;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
}

.imgview {
    height: 270px;
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: 10px;
}

#header1 {
    width: 96%;
    margin: 5px auto;
    max-width: 960px;
    margin-top: 70px;
}

.yellow-card-box,
.red-card-box {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.7em!important;
    margin-left: .1em;
    margin-right: .1em;
    border-radius: 3px;
}

.yellow-card-box {
    background-color: #FFCC05!important;
    color: #666!important;
}

.red-card-box {
    background-color: #CA2027!important;
    color: #FFF!important;
}

.grid {
    border: 1px solid #111;
    width: 100%;
}

.grid .rating {
    font-weight: bold;
    color: #EB5B14!important;
}

.grid th {
    background-color: #666;
    color: white
}