*{
  font-family: sans-serif;
  
}
body
{
  padding: 0%;
  margin: 0%;
  background: linear-gradient( to right bottom,silver, black);
}
.topdiv
{
  background-image: url("../assets/leagues_images/background3.jpg");
  background-repeat:no-repeat;
  width: 80%;
  margin-left: 120px;
  margin-top: 200px;
}
.tophead
{
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  text-shadow:-4px 1px  snow;
}

.wrapper
{
display: grid;
grid-gap:10x;
grid-auto-rows: mimax(100px,auto);

margin-left:80px ;
}

.wrapper >div
{
  height: 80px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  margin-top:10px ;
  font-weight: bolder;
  font-size: larger;
  color: cornsilk;
  border-radius: 8px;
  background: linear-gradient( to left bottom, black, silver);
}

.wrapper1 >section
{
  margin-top:20px ;
  margin-left:120px ;
  border-bottom-right-radius:15px ;
  width: 80%;
  background-image: url("../assets/leagues_images/d1.jpg");
}

.img1
{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
width: 300px;
height: 200px;
}
.one {
    grid-column: 3 / 5;
    grid-row: 1;
    background-color: tomato;
  }
  .two { 
    grid-column: 2 / 5;
    grid-row: 2 ;
    background-color: tomato;
}
  .three {
    grid-column: 4 /7;
    grid-row: 2;
    background-color:magenta;
  }
  .four {
    grid-column: 2 / 4;
    grid-row: 3 ;
    background-color: yellow;
  }
  .five {
    grid-column: 3 / 5;
    grid-row:  3;
    background-color: blue;
  }
  .six {
    grid-column: 4/6;
    grid-row: 3;
    background-color: yellowgreen;
  }
  .seven
  {
      grid-column: 1 / 3;
      grid-row: 4;
      background-color: brown;
  }

  .eight
  {
      grid-column: 2 / 7;
      grid-row: 4;      
      background-color: coral;   

  }
  .nine
  {
      grid-column: 3 /7;
      grid-row: 4 ;
      background-color: darkblue;
     
  }
  .ten
  {
      grid-column: 4/6;
      grid-row: 4;
      background-color: darkcyan;
  }

  .eleven
  {
      grid-column: 5/7;
      grid-row: 4;
      background-color: purple;
  }



  section
  {
    width: 50%;
   border: 2px  double black;
   background-color: khaki;
  }

  tr>td 
  {
    
    font-weight: bolder;
  }

  .head1
  {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
  }

  section> p
  {
    font-size: medium;
    font-weight: bolder;
    color:grey;
  }




  .headerlogo
{
  width: 200px;
  height: 120px;
  padding-left:-50px ;
  padding-top:10px ;
  padding-right:50px ;
}

header>nav
{
    position: fixed;
    top: -16px;
    width: 100%;
    left:-1px;
}

.navigation-link
{    
    list-style-type: none;
    background-color: #003472;
    text-decoration: none;
    height: 150px;
    padding-top: 10px;
    z-index: 1;
}

.left-menu>ul>li::before {
    content: "\2022";
    color: black; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }


.navigation-link-items{
    display: inline-block;
}

.navigation-link-items1{
    display: flex;
    display: inline-block;
    flex-direction: column-reverse;
}
nav>ul>li>a
{
    text-decoration: none;
    color: white;  
}

ul> li:hover
{
  padding: 5px;
  background-color:skyblue;
  
  border-radius:5px ;
}




footer
{   
    color:white;
    text-align: center;
    background-color:#003472}
.a
{
margin-left:250px;
float: left;
width:400px;
padding:20px;
}
.b{
    padding:20px;
    margin-left:800px;
    width:500px;
}
.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover
{
    opacity: 0.7;
}
.fa-facebook
{
    background: #3B5998;
    color: white;
}
.fa-twitter 
{
    background: #55ACEE;
    color: white;
}



















































/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/

@media only screen and  (max-width: 900px) 
{

  .navigation-link-items1{
    display: none;
}
  .topdiv
{
  background-image: url("../assets/leagues_images/background3.jpg");
  background-repeat:no-repeat;
  width: 80%;
  margin-left: 80px;
  margin-top: 200px;
  background-position-x: -350px;
  background-position-y: -150px;

}

  .wrapper
  {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: mimax(100px,auto);
  margin-left:40px ;
  }

  .wrapper >div
  {
  height: 70px;
  width: 100px;
  text-align: center;
  border: 2px solid black;
  margin-top:10px ;
  font-weight: bolder;
  font-size: larger;
  color: cornsilk;
  border-radius: 8px;
  background: linear-gradient( to left bottom, black, silver);
  }

  .four {
    grid-column: 1 / 4;
    grid-row: 3 ;
    background-color: yellow;
  }

  .six {
    grid-column: 5/6;
    grid-row: 3;
    background-color: yellowgreen;
  }
  .seven
  {
      grid-column: 1 / 3;
      grid-row: 4;
      background-color: brown;
  }

  .eight
  {
      grid-column: 2 / 7;
      grid-row: 4;      
      background-color: coral;   

  }
  .nine
  {
      grid-column: 3 /7;
      grid-row: 4 ;
      background-color: darkblue;
     
  }
  .ten
  {
      grid-column: 4/6;
      grid-row: 4;
      background-color: darkcyan;
  }

  .eleven
  {
      grid-column: 5/7;
      grid-row: 4;
      background-color: purple;
  } 

  .a
  {
    margin-left:100px;
    float: left;
    width:400px;
    padding:20px;
  }
  .b{
      padding:20px;
      margin-left:350px;
      width:400px;
  }
}




































/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/
/*_____________________________________________________________________________________________*/

@media only screen and  (max-width: 500px) 
{

  .topdiv
{

  width: 100%;
  margin-left: 0px;
  margin-top: 110px;
  background-position-x: -550px;
  background-position-y: -150px;
}

.tophead
{
  font-size: larger;
}




  .wrapper
  {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: mimax(100px,auto);
  margin-left:40px ;
  }

  .wrapper >div
  {
  height: 70px;
  width: 70px;
  text-align: center;
  border: 1px solid black;
  margin-top:10px ;
  margin-right: 30px;
  font-weight: bolder;
  font-size: smaller;
  color: cornsilk;
  border-radius: 8px;
  background: linear-gradient( to left bottom, black, silver);
  }

  .wrapper1 >section
  {
    margin-left:40px ;
  }
  
  .four {
    grid-column: 1 / 4;
    grid-row: 3 ;
    background-color: yellow;
  }

  .six {
    grid-column: 5/6;
    grid-row: 3;
    background-color: yellowgreen;
  }
  .seven
  {
      grid-column: 1 / 3;
      grid-row: 4;
      background-color: brown;
  }

  .eight
  {
      grid-column: 2 / 7;
      grid-row: 4;      
      background-color: coral;   

  }
  .nine
  {
      grid-column: 3 /7;
      grid-row: 4 ;
      background-color: darkblue;
     
  }
  .ten
  {
      grid-column: 4/6;
      grid-row: 4;
      background-color: darkcyan;
  }

  .eleven
  {
      grid-column: 5/7;
      grid-row: 4;
      background-color: purple;
  } 

  .headerlogo
  {
    width: 70px;
    height: 60px;
    margin-left:-30px ;
    padding-top:10px  ;
  }
  

  
  .main-navigation
  {
      position: fixed;
      top: -16px;
      width: 100%;
      left:-1px;
  }
  
  .navigation-link
  {    
      list-style-type: none;
      background-color: #003472;
      text-decoration: none;
      height: 100px;
      padding-top: 10px;
      z-index: 1;
  }
  
  .left-menu>ul>li::before {
      content: "\2022";
      color: black; 
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  
  
  .navigation-link-items{
      display: inline-block;
      padding-right: 15x;
      margin-left:-15px ;
  }
  
  .navigation-link-items1{
      display: none;
  }
  nav>ul>li>a
  {
      text-decoration: none;
      color: white;  
  }
  
  ul> li:hover
  {
    padding: 5px;
    background-color:skyblue;
    
    border-radius:5px ;
  }
  
  
  
  
  footer
  {   
      padding-bottom:1px;
  }
  .a
  {
  display: none;  
  }
  .b
  {
  display: none;
  }
  

}








